.banner{
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1{
  color: white;
}

.banner p{
  color: white;
  opacity: 0.8;
  padding-bottom: 20px;
}
